<h1>Prueba</h1>
<div *ngFor="let usuario of infoPaginaService.usuario">
    <ul>
        <li>
            <p> Nombre: {{ usuario.nombre }} {{ usuario.apellido }}</p>
        </li>
        <li>
            <p> Edad: {{ usuario.edad }}</p>
        </li>
        <li>
            <p> Direccion: {{ usuario.direccion }}</p>
        </li>
        <li>
            <p> Correo: {{ usuario.email }}</p>
        </li>
        <td>
            ----------------------------------------
        </td>
    </ul>
</div>